<%= form_for(@closing_day) do |f| %>
  <% if @closing_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@closing_day.errors.count, "error") %> prohibited this closing_day from being saved:</h2>

      <ul>
      <% @closing_day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time_table_id %><br />
    <%= f.number_field :time_table_id %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
