<h1>New time_table</h1>
<div class="row">
  <div class="span2"
  <address>
    <strong><%= @restaurant.name %></strong><br>
    <%= @restaurant.address %><br>
    <%= @restaurant.zip %> <%= @restaurant.city %> <%= @restaurant.state %> (<%= @restaurant.country_id %>)<br>
    <% @restaurant.contacts.each do |contact| %>
      <abbr><%= contact.contact_type.name %></abbr> <%= contact.value   %><br />
    <% end %>
  </address>
  </div>
  <div class="span6">  
    <%= render 'form' %>
  </div>
  <%= link_to 'Back', restaurants_path %>
</div>