<%= form_for(@week_closing) do |f| %>
  <% if @week_closing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@week_closing.errors.count, "error") %> prohibited this week_closing from being saved:</h2>

      <ul>
      <% @week_closing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time_table_id %><br />
    <%= f.number_field :time_table_id %>
  </div>
  <div class="field">
    <%= f.label :weekday %><br />
    <%= f.number_field :weekday %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
