<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> <%= t("restaurant.error.saveerror") %></h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="controls">
      <%= f.text_field :name, :class => "span5", :placeholder => t("restaurant.name") %>
  </div>
  <div class="controls">
      <%= f.text_field :address, :class => "span5", :placeholder => t("restaurant.address") %>
  </div>
  <div class="controls controls-row">
      <%= f.text_field :zip, :class => "span1", :placeholder => t("restaurant.zip") %>
      <%= f.text_field :city, :class => "span3", :placeholder => t("restaurant.city") %>
      <%= f.text_field :state, :class => "span1", :placeholder => t("restaurant.state")     %>
  </div>
  <div class="controls">
    <%= f.collection_select(:country_id, Country.all, :id, :name, {}, {:class => "span5"}) %>
  </div>
  <%= f.fields_for :contacts do |builder| %>
    <%= render 'contact_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Nuovo contatto", f, :contacts %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
