<h1>Listing restaurants</h1>

<table class="table table-condensed table-bordered">
<% @restaurants.each do |restaurant| %>
  <tr>
    <td>
      <address>
        <strong><%= restaurant.name %></strong><br/>
        <%= restaurant.address %><br/>
        <%= restaurant.zip %> <%= restaurant.city %> <%= restaurant.state %> (<%= restaurant.country.code %>)
      </address>
    </td>
    <td>
      <% restaurant.contacts.each do |contact| %>
        <%= contact.contact_type.name %>: <%= contact.value %><br/>
      <% end %>
    </td>

    <td><%= link_to 'Show', restaurant %></td>
    <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Orari', new_restaurant_time_table_path(restaurant) %></td>

  </tr>
<% end %>
</table>


<%= link_to 'New Restaurant', new_restaurant_path %>