<div class="row">
  <div class="span3">
    <p id="notice"><%= notice %></p>
    
    <address>
      <strong><%= @restaurant.name %></strong><br>
      <%= @restaurant.address %><br>
      <%= @restaurant.zip %> <%= @restaurant.city %> <%= @restaurant.state %> (<%= @restaurant.country_id %>)<br>
      <% @restaurant.contacts.each do |contact| %>
        <abbr><%= contact.contact_type.name %></abbr> <%= contact.value   %><br />
      <% end %>
    </address>
    
    <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
    <%= link_to 'Back', restaurants_path %>
  </div>
  <div class="span2">
    <% @restaurant.time_tables.each do |table| %>
      <%= link_to(table.description,edit_restaurant_time_table_path(@restaurant,table)) %><br />
    <% end %>
    <%= link_to 'Nuovo Orario', new_restaurant_time_table_url(@restaurant), :class => "btn btn-primary" %>
  </div>
  <div id="time_table">
  </div>
</div>